form{
    height:450px;
    width:350px;
    background-color: rgba(78, 149, 200, 0.455);
    border:2px solid black;
    border-radius: 10px;
    padding:30px;
    margin:50px auto;
    display: flex;
    flex-direction: column;
}
label{
    font-size: 20px;
}
input{
    border:1px solid gray;
    border-radius: 10px;
    padding:8px;
    margin-top: -15px;
}
#gender,#sold{
    width:60px;
    padding:2px;
}
form>div{
    margin-bottom: 20px;
}
#add{
    width:150px;
    margin: 30px auto;
    background-color: blue;
    color: white;
}