body{
    border:1px solid black;
    width:1250px;
    margin:auto;
}
#main{
    background-color: papayawhip;
}
#header{
    height: 60px;
    background-color: rgba(0, 128, 128, 0.419);
    display: flex;
    justify-content: center;
    align-items: center;
}
#query{
    padding: 2px 10px;
    margin-right: 10px;
    background-color: bisque;
}
#search{
    padding:2px 5px;
}
#search:hover{
    color: white;
    background-color: darkslategrey;
    padding:3px 6px;
}
#box{
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
#container{
    background-color: palegreen;
}
.cards{
    height:98px;
    display: flex;
    width:200px;
    border:1px solid black;
}
.cards>h3,.cards>h2{
    margin-left: 25px;
}
#name{
    font-size: 35px;
    color:red;
}
#min_temp{
    font-size: 35px;;
    color: lightseagreen;
}
#max_temp{
    font-size: 35px;
    color: orangered;
}
#wind{
    font-size: 35px;
    color:rgb(53, 0, 128);
}
#cloud{
    font-size: 35px;
    color:rgb(130, 176, 235);
}

/* Map  */
.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
  }